# Ignore .git folder, not sure if this needed or not
.git

# Ignore build directories
cross-build/
clang-build/

# Ignore source directory for building cross-compiler
src/

# Ignore kernel executable in iso directory
iso/boot/kernel.elf
